<script type="text/javascript">
  function saveComment() {
    document.getElementById('commentsForm').submit()
    return false
  }
  function removeComment() {
    document.getElementById('commentsText').value = ''
    document.getElementById('commentsForm').submit()
    return false
  }
</script>

<h1>
<%=@vehicle.title%>
[<a target="_blank" href="<%=@vehicle.url%>">Goto</a>]
</h1>

<div style="float: right">
  <% @vehicle.images.each do |image| %>
    <div>
      <img src="<%=image.url%>"/>
    </div>
  <% end %>
</div>

<h3><b>Submitted at:</b> <%=@vehicle.timestamp%></h3>

<p>
<b>Brand:</b> <%=@vehicle.brand_name%> <%= @vehicle.class_name %> <%= @vehicle.trim_name %> &nbsp;&nbsp;
<b>Model:</b> <%=@vehicle.model%> &nbsp;&nbsp;
<b>Mileage:</b> <%=@vehicle.mileage%>
</p>

<p>
<b>Price:</b> <%=@vehicle.price%> &nbsp;&nbsp;&nbsp;
<b>Contact number(s):</b> <%=[@vehicle.contact_number, @vehicle.contact_number2].compact.join(', ')%> &nbsp;&nbsp;&nbsp;
<b>Vehicle type:</b> <%=@vehicle.vtype%>
</p>

<p>
<b>Location:</b> <%=@vehicle.location%> &nbsp;&nbsp;
<b>Seller:</b> <%= @vehicle.username %>
</p>

<p>
<b>Specs:</b>
<ul>
  <li>Outside color: <%= @vehicle.outside_color.nil? ? 'N/A' : @vehicle.outside_color %></li>
  <li>Gear: <%= @vehicle.gear.nil? ? 'N/A' : @vehicle.gear %></li>
  <li>Cylinders: <%= @vehicle.cylinders.nil? ? 'N/A' : @vehicle.cylinders %></li>
  <li>Inside color: <%= @vehicle.inside_color.nil? ? 'N/A' : @vehicle.inside_color %></li>
  <li>Inside type: <%= @vehicle.inside_type.nil? ? 'N/A' : @vehicle.inside_type %></li>
  <li>Sunroof: <%= @vehicle.sunroof.nil? ? 'N/A' : (@vehicle.sunroof ? 'Yes' : 'No') %></li>
  <li>Sensors: <%= @vehicle.sensors.nil? ? 'N/A' : (@vehicle.sensors ? 'Yes' : 'No') %></li>
  <li>Camera: <%= @vehicle.camera.nil? ? 'N/A' : (@vehicle.camera ? 'Yes' : 'No') %></li>
  <li>DVD: <%= @vehicle.dvd.nil? ? 'N/A' : (@vehicle.dvd ? 'Yes' : 'No') %></li>
  <li>CD: <%= @vehicle.cd.nil? ? 'N/A' : (@vehicle.cd ? 'Yes' : 'No') %></li>
  <li>Bluetooth: <%= @vehicle.bluetooth.nil? ? 'N/A' : (@vehicle.bluetooth ? 'Yes' : 'No') %></li>
  <li>GPS: <%= @vehicle.gps.nil? ? 'N/A' : (@vehicle.gps ? 'Yes' : 'No') %></li>
</ul>
</p>

<p>
  <b>Description:</b> <br/>
  <%=@vehicle.description.html_safe rescue 'None' %>
</p>
<p>
  <b>Comments:</b>
  <a href="#" onclick="return saveComment()">Save</a>
  -
  <a href="#" onclick="return removeComment()">Remove</a>
  <br/>
  <%= form_for @vehicle, method: "POST", url: comment_vehicle_path(@vehicle), html: {id: 'commentsForm'} do |f| %>
    <textarea id="commentsText" name="text" rows=2 cols=120><%=@vehicle.comments%></textarea>
  <% end %>
</p>

<h3>
<%if @vehicle.favorite%>
  <%= link_to 'Remove from favorites', favor_vehicle_path(@vehicle) %>
<%else%>
  <%= link_to 'Add to favorites', favor_vehicle_path(@vehicle) %>
<%end%>

</h3>

<%= link_to 'Back', :action => 'index' %>

